NEXT_PUBLIC_PROJECT_ID = "your-project-id"
COINGECKO_API_KEY = "your-api-key"
COINMARKETCAP_API_KEY = "your-api-key"
DATABASE_URL= "your-database-url"
DATABASE_URL_UNPOOLED= "your-database-url"
NEXTAUTH_SECRET= "your-secret-key"
NEXTAUTH_URL= "your-url"
DASHBOARD_PASSWORD= "your-password"
REDIS_URL= "your-redis-url"
EXCHANGE_RATE_API_KEY= "your-api-key"
RESEND_API_KEY= "your-api-key"
RESEND_FROM_EMAIL="your-email"
NEXT_PUBLIC_TOKESHARE_TGG_RECIPIENT="your-address"