@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color1: 235, 27%, 92%;
  --color2: 233, 100%, 66%;
  --color3: 140, 22%, 46%;
  --color4: 240, 19%, 12%;
  --color5: 223, 67%, 81%;
  --color6: 0, 0%, 57%;
  --color7: 0, 0%, 100%;
}

body {
  color: hsl(var(--color1));
  background: hsl(var(--color1));

  h1 {
    font-family: "NewOrderBold";
  }

  h2,
  h3,
  h4,
  h5,
  h6,
  button {
    font-family: "NewOrderSemiBold";
  }

  p,
  span,
  a {
    font-family: "RubikRegular";
  }

  img {
    object-fit: cover;
  }
}

@font-face {
  font-family: "NewOrderBold";
  src: url("/fonts/New_Order_Bold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "NewOrderSemiBold";
  src: url("/fonts/New_Order_Semibold.otf") format("opentype");
  font-display: swap;
}

@font-face {
  font-family: "RubikRegular";
  src: url("/fonts/Rubik-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "RubikLight";
  src: url("/fonts/Rubik-Light.ttf") format("truetype");
  font-display: swap;
}

@media (max-width: 950px) {
  .custom\:grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.transition-max-height {
  transition: max-height 0.3s ease-in-out;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

.a {
  background-color: hsl(var(--color4)) !important;
  color: hsl(var(--color7)) !important;
  border-radius: 0.5rem !important;
  padding: 0.5rem 1rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--color1) inset !important;
  box-shadow: 0 0 0 30px var(--color1) inset !important;
  -webkit-text-fill-color: #000 !important;
  transition: background-color 5000s ease-in-out 0s !important;
}
